#admkeypad .error {
  margin-bottom: 3.2rem;
}

.keypad-row {
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.keypad-row .btn.btn-keypad {
  flex: 1;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  margin: 1.5rem;
  border: 1px solid #2f2f2f;
  border-bottom: 2px solid #05aded;
  border-radius: 1px;
  transition: 0.2s;
  cursor: pointer;
}

.keypad-row .btn.btn-keypad:hover {
  background: #05aded;
  color: #111;
}

.keypad-row .btn.btn-keypad.delete {
  border-bottom: 2px solid #FFCC00;
}

.keypad-row .btn.btn-keypad.delete:hover {
  background: #FFCC00;
}

.keypad-row .btn.btn-keypad.submit {
  border-bottom: 2px solid #4fe38b;
}

.keypad-row .btn.btn-keypad.submit:hover {
  background: #4fe38b;
}

.keypad-row #cpanel-status {
  flex: 3;
  width: auto;
}

.keypad-row #cpanel-status h1 {
  color: #0f5879;
}

.keypad-row .space {
  flex: 1;
  min-width: 2px;
}

@media (max-width: 769px) {
  .keypad-row .space {
    flex: 0;
  }
}

.keypad-row form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  flex: 3;
}

.keypad-row form #writekeys {
  width: 100%;
  background: #CCC;
  color: #222;
  font-size: 32px;
  font-size: 2rem;
  padding: 1rem;
  max-width: 100%;
  border-radius: 5px;
}

.grid.backend {
  padding: 8px;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 750px 1fr;
  grid-template-rows: 7rem 6rem 6rem 1fr;
  grid-template-areas: "titlebar titlebar titlebar" "blockleft container blankright" "blockleft container blankright" "blockleft container blankright";
}

.grid.backend .item {
  border-bottom: 0;
}

@media (min-width: 992px) {
  .grid.backend {
    grid-template-columns: 1fr 970px 1fr;
  }
}

@media (min-width: 1200px) {
  .grid.backend {
    grid-template-columns: 1fr 1170px 1fr;
  }
}

.grid.backend .titlebar {
  grid-area: titlebar;
  border-bottom: 2px solid rgba(15, 88, 121, 0.5);
}

.grid.backend .blockleft {
  grid-area: blockleft;
  background: rgba(15, 88, 121, 0.25);
}

.grid.backend .blankright {
  grid-area: blankright;
  background: rgba(15, 88, 121, 0.25);
}

.grid.backend .container {
  grid-area: container;
  padding: 1.5rem;
}

@media (max-width: 769px) {
  .grid.backend {
    grid-template-rows: auto 1fr 1px 1px;
    grid-template-columns: 1fr;
    grid-template-areas: "titlebar" "container" "blankright" "blockleft";
  }
}
