
// kleuren hier
$donker : #111;
$donker-alt : #222;
$wit : #FFF;
$donkerwit : #DEDEDE;

$beaconblauw: #39DBCC;
$gubatgeel  : #FFCC00;
$orbitgreen : #4fe38b;

$bludim      : #0f5879;
$blubright   : #05aded;


.keypad-row {

  text-align: center;
  padding: 0.2rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;

  .btn.btn-keypad {
    flex: 1;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    // font-size: 2rem;
    margin: 1.1rem;

    font-size       : 2.5rem;
    font-weight     : bold;
    font-family     : 'digital-7', Helvetica, "Helvetica Neue", Arial, sans-serif;

    @media(max-width: 769px) {
      margin: 8px;
      font-size: 2.1rem;
    }

    border: 1px solid lighten($donker-alt,5%);

    border-bottom: 2px solid $blubright;
    border-radius: 1px;

    transition: 0.2s;
    cursor: pointer;

      &:hover {
        background: $blubright;
        color: $donker;
      }

    &.delete {
      border-bottom: 2px solid $gubatgeel;
      &:hover {
        background: $gubatgeel;
      }
    }
    &.submit {
      border-bottom: 2px solid $orbitgreen;
      &:hover {
        background: $orbitgreen;
      }
    }
  }

  #cpanel-status {
    flex: 3;
    width: auto;
    h1 {
      color: $bludim;
    }

  }

  .space {
    flex: 1;
    min-width: 2px;
    @media(max-width: 769px) {
      flex: 0;
    }
  }

  form {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex: 3;
    #writekeys {
      width: 100%;
      background      : #CCC;
      color           : #222;

      font-size       : 32px;
      font-size       : 3.2rem;
      font-weight     : bold;
      font-family     : 'digital-7', Helvetica, "Helvetica Neue", Arial, sans-serif;

      padding         : 1rem;
      max-width       : 100%;
      border-radius   : 5px;

    }
  }

}

.grid.backend {

  .item {
    border-bottom: 0;
  }

  @media(min-width:769px){
    padding     : 8px;
    width       : 100vw;
  }


  min-height  : 100vh;
  height      : auto;

  grid-template-columns : 1fr 750px 1fr;

  grid-template-rows    : 7rem 6rem 6rem 1fr;

  @media (min-width: 992px) {
    grid-template-columns: 1fr 970px 1fr;
    overflow: hidden;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1170px 1fr;
  }

  grid-template-areas:
    "titlebar titlebar titlebar"
    "blockleft container blankright"
    "blockleft container blankright"
    "blockleft container blankright";

  // .smallbar {
  //   grid-area: smallbar;
  //   border-bottom: 2px solid rgba($gubatgeel, 0.33);
  //
  //   &.offline {
  //     background: rgba($gubatgeel, 0.33);
  //     color: $donker;
  //   }
  // }
  //
  // .menu {
  //   grid-area: menu;
  //   border-bottom: 2px solid rgba($bludim, 0.5);
  // }
  // .status {
  //   grid-area: status;
  //   border-bottom: 2px solid rgba($bludim, 0.5);
  // }

  #admkeypad{
    padding: 1.5rem;
  }

  .titlebar {
    grid-area: titlebar;
    border-bottom: 2px solid rgba($bludim, 0.5);
  }

  .blockleft {
    grid-area: blockleft;
    // background: rgba($bludim, 0.25);
    opacity: 0.4;
  }

  .blankright {
    grid-area: blankright;
    // background: rgba($bludim, 0.25);
    opacity: 0.4;
  }

  .container {
    grid-area: container;
  }

  @media(max-width: 769px) {
    grid-template-rows: auto 1fr 1px 1px;
    grid-template-columns: 1fr;

    grid-template-areas:
      "titlebar"
      // "menu"
      "container"
      // "status"
      // "smallbar"
      "blankright"
      "blockleft";
  }


}

#admin-panel {

  display: flex;
  flex-direction: column;
  padding: 0;

  .item {
    padding: 0;
  }

  .spacer {
    background: $donker;
    min-height: 0.8rem;
  }


  .menu {
    width: 100%;
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .menu-block {
      display: inline-block;
      width: auto;
      transition: 0.4s;
      text-align: center;
      border-bottom: 2px solid rgba($bludim, 0);

      height: 8rem;
      overflow: hidden;

      padding-left: 1.4rem;
      padding-right: 1.4rem;
      padding-top: 12px;

      font-size: 20px;
      color: $donkerwit;
      text-decoration: none;
      font-weight: bold;

      cursor: pointer;

      @media(max-width: 769px) {
        height: 6.4rem;
        font-size: 18px;
        padding-top: 4px;
      }

      &:hover {
        // color: $donker;
        background-color: rgba($bludim,0.66);
        border-bottom: 2px solid $bludim;
      }
    }
  }

  .content {
    padding: 1.2rem;
  }
}
