
// kleuren hier
$donker : #111;
$donker-alt : #222;
$wit : #FFF;
$donkerwit : #DEDEDE;

$beaconblauw: #39DBCC;
$gubatgeel  : #FFCC00;
$orbitgreen : #4fe38b;
$tomatored : tomato;

$bludim      : #0f5879;
$blubright   : #05aded;

$defaultspace : 0.8rem;

$googleShade : 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);

$fontregular : 'Quantico', "Helvetica Neue", Arial, sans-serif;
$fonttitle : 'Quantico Bold', $fontregular;
$fonttime : 'digital-7', $fontregular;

@import 'fonts.scss';

* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
  background-color: $donker;
  @media(min-width:769px){
    background-image: url('/img/citadel.jpg');
  }

  font-family: $fontregular;
  color: $donkerwit;
  line-height: 1.42857143;
}

p {
  font-family: $fontregular;
  margin: $defaultspace;

  &.backdrop {
    background: $donkerwit;
    padding: $defaultspace;
    color: $donker;
  }
}
h1, h2, h3, h4, h5 {
  font-family: $fonttitle;
  text-transform: uppercase;
  margin: $defaultspace;

  &.backdrop {
    background: $donkerwit;
    padding: $defaultspace;
    color: $donker;
  }
}
h4, h5 {
  font-family: $fontregular;
}

.time {
  font-family: $fonttime;
}

img {
  height: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

@media(min-width: 992px) {
  .center-center {
    text-align: center;
    top: 33vh;
    position: relative;
  }
}


.hidden {
  display: none;
}

.text-right {
  text-align: right;
}

.tomato {
  color: $tomatored;
}

.terminaltext {
  color: $orbitgreen;
}


.grid {
  display: grid;
  transition: 0.4s;
  grid-gap: 8px 8px;

  .item {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: $defaultspace;

    border-bottom: 2px solid rgba($bludim, 0.5);
    background: $donker-alt;
  }


  &.frontend {

    padding: 8px;

    width: 100vw;
    height: 100vh;
    @media(min-width: 1000px) {
      overflow: hidden;
    }

    grid-template-rows: 8.5rem 1fr 1fr 1fr auto;
    grid-template-columns: 16.5rem 22rem 1fr 32rem;

    grid-template-areas:
    "top top menu menu"
    "side main main main"
    "side main main main"
    "side main main main"
    "footerconnect footer footer footerclock";

    @media(max-width: 769px) {
      grid-template-rows: 6rem 6rem 1fr auto auto auto auto;
      grid-template-columns: 1fr;

      grid-template-areas:
      "top"
      "menu"
      "main"
      "side"
      "footerconnect"
      "footer"
      "footerclock";
    }

    .top {
      grid-area: top;
      display: flex;

      img.logo {
        height: 8rem;
        width: 8rem;
        margin: (-$defaultspace) $defaultspace 0 $defaultspace;

        @media(max-width: 769px) {
          display: none;
        }
      }

      > h1 {
        > .alt {
          color: rgba($donkerwit, 0.8);
        }

        margin: 0 $defaultspace;
        padding: 0;

        @media(min-width: 769px) {
          font-size: 4.8rem;
        }

      }

      border-bottom: 2px solid rgba($donkerwit, 0.5);
    }

    .menu {
      grid-area: menu;
      border-bottom: 2px solid rgba($bludim, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .menu-block {
        display: inline-block;
        width: auto;
        border-left: 1px solid $donker-alt;
        transition: 0.4s;
        text-align: center;
        border-bottom: 2px solid rgba($bludim, 0);

        height: 8.4rem;
        margin: -0.8rem 0;
        overflow: hidden;

        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 8px;

        font-size: 20px;
        color: $donkerwit;
        text-decoration: none;
        font-weight: bold;

        cursor: pointer;

        @media(max-width: 769px) {
          height: 6rem;
          font-size: 18px;
          padding-top: 4px;
        }



        &:hover {
          color: $donker;
          background-color: $bludim;
          border-bottom: 2px solid $bludim;
        }
      }
    }

    .main {
      grid-area: main;
      border-bottom: 0;

      > .tabs {
        display: none;
        &.active {
          display: initial;
        }
      }

    }

    .side {
      grid-area: side;

      p,h1,h2,h3,h4,h5 {
        margin: 0.8rem 0.2rem;
      }

    }

    .footer {
      grid-area: footer;
    }

    .footerclock {
      grid-area: footerclock;
      border-bottom: 2px solid rgba($gubatgeel, 0.5);
      color: $gubatgeel;
      transition: 0.2s;
      &:hover {
        color: $donker;
        background: $gubatgeel;
      }
    }

    .footerconnect {
      grid-area: footerconnect;
      transition: 0.2s;
      // color: rgba($orbitgreen,0.5);
      // border-color: rgba($orbitgreen,0.5);
      color: rgba($blubright,0.5);

      &:hover {
        color: $orbitgreen;
        border-color: $orbitgreen;
      }
    }

  }

  // &.backend {
  //
  //   > .titlebar {
  //     > img {
  //       height: 5rem;
  //       width: 5rem;
  //       margin: (-$defaultspace) $defaultspace 0 $defaultspace;
  //
  //       @media(max-width: 769px) {
  //         display: none;
  //       }
  //     }
  //   }
  //
  //
  // }

}

#clock {
  font-family: $fonttime;
  font-size: 4.4rem;
}
#dd, #dow {
  color: $blubright;
}


@keyframes rotator {
  0%    {transform: rotate(0deg);}
  50%   {transform: rotate(180deg);}
  100%  {transform: rotate(360deg);}
}
.spinner  {
  position      : relative;
  left          : 25%;
  margin        : 12.8rem;
  height        : 12.8rem;
  width         : 12.8rem;
  border-radius : 50%;
  border        : 32px solid $bludim;
  border-left   : 32px solid $blubright;
  animation: rotator  1.4s linear infinite;

}

.transitionOverlay, .errorOverlay {
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.transitionOverlay {

  background: rgba($bludim, 0.25);

  > i {
    position: absolute;
    top: 44vh;
    font-size: 6.4rem;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 3px $bludim;
    opacity: 0.8;
  }
}

.errorOverlay {
  background: rgba(#222, 0.7);

  > .center-center {
    background: #222;
    width: 100%;
    padding: 3rem 1.5rem;
    border-top: 6px solid $tomatored;
    border-bottom: 6px solid $tomatored;
    > h1, .fas, .fa, .far {
      color: $tomatored;
    }
  }
}
