@import url(/_includes/css/font-awesome.min.css);
@font-face {
  font-family: 'Digital-7';
  src: url(/_includes/fonts/digital-7.ttf);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 14px;
  background-color: #111;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: #DEDEDE;
  line-height: 1.42857143;
}

p {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  margin: 0.8rem;
}

p.backdrop {
  background: #DEDEDE;
  padding: 0.8rem;
  color: #111;
}

h1, h2, h3, h4, h5 {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  margin: 0.8rem;
}

h1.backdrop, h2.backdrop, h3.backdrop, h4.backdrop, h5.backdrop {
  background: #DEDEDE;
  padding: 0.8rem;
  color: #111;
}

.time {
  font-family: "digital-7", Helvetica, "Helvetica Neue", Arial, sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.text-right {
  text-align: right;
}

.grid {
  display: grid;
  transition: 0.4s;
  grid-gap: 8px 8px;
}

.grid .item {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0.8rem;
  border-bottom: 2px solid rgba(15, 88, 121, 0.5);
  background: #222;
}

.grid.frontend {
  padding: 8px;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 8.5rem 1fr 1fr 1fr auto;
  grid-template-columns: 16.5rem 22rem 1fr 32rem;
  grid-template-areas: "top top menu menu" "side main main main" "side main main main" "side main main main" "footerconnect footer footer footerclock";
}

@media (min-width: 1000px) {
  .grid.frontend {
    overflow: hidden;
  }
}

@media (max-width: 769px) {
  .grid.frontend {
    grid-template-rows: 6rem 6rem 1fr auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "top" "menu" "main" "side" "footerconnect" "footer" "footerclock";
  }
}

.grid.frontend .top {
  grid-area: top;
  display: flex;
  border-bottom: 2px solid rgba(222, 222, 222, 0.5);
}

.grid.frontend .top img.logo {
  height: 8rem;
  width: 8rem;
  margin: -0.8rem 0.8rem 0 0.8rem;
}

@media (max-width: 769px) {
  .grid.frontend .top img.logo {
    display: none;
  }
}

.grid.frontend .top h1 {
  margin: 0.8rem;
  padding: 0.8rem;
  font-size: 3rem;
}

.grid.frontend .top h1 .alt {
  color: rgba(222, 222, 222, 0.8);
}

@media (max-width: 769px) {
  .grid.frontend .top h1 {
    margin: 0 0.8rem;
    padding: 0;
  }
}

.grid.frontend .menu {
  grid-area: menu;
  border-bottom: 2px solid rgba(15, 88, 121, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.grid.frontend .menu .menu-block {
  display: inline-block;
  width: auto;
  border-left: 1px solid #222;
  transition: 0.4s;
  text-align: center;
  border-bottom: 2px solid rgba(15, 88, 121, 0);
  height: 8.4rem;
  margin: -0.8rem 0;
  overflow: hidden;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 8px;
  font-size: 20px;
  color: #DEDEDE;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 769px) {
  .grid.frontend .menu .menu-block {
    height: 6rem;
    font-size: 18px;
    padding-top: 4px;
  }
}

.grid.frontend .menu .menu-block:hover {
  color: #111;
  background-color: #0f5879;
  border-bottom: 2px solid #0f5879;
}

.grid.frontend .main {
  grid-area: main;
  border-bottom: 0;
}

.grid.frontend .side {
  grid-area: side;
}

.grid.frontend .side p, .grid.frontend .side h1, .grid.frontend .side h2, .grid.frontend .side h3, .grid.frontend .side h4, .grid.frontend .side h5 {
  margin: 0.8rem 0.2rem;
}

.grid.frontend .footer {
  grid-area: footer;
}

.grid.frontend .footerclock {
  grid-area: footerclock;
  border-bottom: 2px solid rgba(255, 204, 0, 0.5);
  color: #FFCC00;
  transition: 0.2s;
}

.grid.frontend .footerclock:hover {
  color: #111;
  background: #FFCC00;
}

.grid.frontend .footerconnect {
  grid-area: footerconnect;
}

#clock {
  font-family: "digital-7", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 4.4rem;
}

#dd, #dow {
  color: #05aded;
}
